
.search_results_table {
    border-collapse: collapse;
    font: 11px Tahoma;
    width: 100%;
}

.search_results_table tr {
    width: 100%;
}

.search_results_table tr.even {
    background-color: #666666;
}

.search_results_table tr.odd {
    background-color: #444444;
}

.search_results_table td {
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px;
}

.track_name {
}

.track_genres {
    width: 60px;
}

.track_artists {
    width: 100px;
}

.track_artists div {
    width: 100px;
}

.album_name {
    width: 100px;
}

.album_name div {
    width: 100px;
}

.group_info {
    padding: 5px 5px 5px 5px;
    color: #212121;
    font: bold 14px Tahoma;
}

td.handle {
    width: 8px;
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
}

tr.newSort {
    border-top: solid 3px red;
}

.track_button {
    width: 13px;
    height: 13px;
}

.track_button_cell {
    width: 13px;       
}

.play_track {
    display: block;
    background-image: url(../images/button_play.png);
}

.buy_track {
    display: block;
    background-image: url(../images/button_buy.png);
}

.track_delete {
    width: 10px;
}

.playlist_play {
    width: 5px;
}

.playlist_is_shared {
    width: 5px;
}

.playlist_delete {
    width: 5px;
}

.playlist_hovered {
    color: red !important;
}

.playlist_dragged {
    color: green;
}
