
.search_results_table {
    border-collapse: collapse;
    font: 11px Tahoma;
    width: 100%;
}

.search_results_table tr {
    width: 100%;
}

.search_results_table tr.even {
    background-color: #666666;
}

.search_results_table tr.odd {
    background-color: #555555;
}

.search_results_table td {
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
}

.track_name {
	max-width: 250px;
}

.track_price{
	width:30px;
}

.track_price div{
	width:30px;
}

.track_genres {
    width: 60px;
}

.track_artists {
    width: 100px;
}

.track_artists div {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album_name {
    width: 100px;
}

.album_name div {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group_info {
    padding: 5px 5px 5px 5px;
    color: #212121;
    font: bold 14px Tahoma;
}

td.handle {
    width: 8px;
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
}

tr.newSort {
    border-top: solid 3px red;
}

.track_button {
    width: 13px;
    height: 13px;
}

.track_button_cell {
    width: 13px;       
}

.play_track {
    display: block;
    background-image: url(../images/button_play.png);
    background-repeat: no-repeat;
    background-position: 0px;
}

.buy_track {
    display: block;
    background-image: url(../images/button_buy.png);
    background-repeat: no-repeat;
    background-position: 0px;
}

.track_delete {
    width: 12px;
    padding: 3px;
}

.playlist_play {
    width: 5px;
    padding-right: 5px;
}

.playlist_is_shared {
    width: 10px;
}

.shared {
    background-image: url(../images/icon_shared.png);
    background-repeat: no-repeat;
    background-position: 0px;
}

.playlist_delete {
    width: 5px;
}

.ui-playlist-hovered {
    background-color: #666666;
}

a.ui-playlist-delete-button {
    background-image: url(../images/icon_delete.png);
    display: block;
    width: 10px;
    height: 10px;
}

a.ui-playlist-delete-button:hover {
    background-image: url(../images/icon_delete_hover.png);
}
a.ui-playlist-import-button{
	background-image: url(../images/button_add_to_playlist.png);
    display: block;
    width: 10px;
    height: 10px;
