
ul#search_results {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

#search_results_list {
    margin: 0px;
    padding: 0px;
}

#search_results li {
    width: 500px;
    list-style: none;
    margin: 0px;
}

#search_results table {
    border-collapse: collapse;
}

#search_results td {
    padding: 4px;
    color: #ffffff;
    font-size: 0.8em;
    white-space: nowrap;
}
#search_results li, #search_results table {
    width: 100%;	
}
#search_results li.even {
    background-color: #222222;
}

.handle {
    cursor: hand;
    cursor: pointer;
}

#search_results li.odd {
    background-color: #444444;
}

.results_break_float {
    clear: both;
}

.track_name {
    width: 300px;
}

.genres {
    width: 100px;
}

.album_name {
    width: 100px;
}

.artists {
    width: 100px;
}
