
td.handle {
    width: 10px;
    padding-right: 0px;
    cursor: pointer;
    cursor: hand;
}

#search_results_table {
    width: 100%;
}

#search_results_body tr.even {
    background-color: #666666;
}

#search_results_body tr.odd {
    background-color: #444444;
}

#search_results_body td {
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
}

.track_name div {
    width: 300px;
}

.genres div {
    width: 100px;
}

.album_name div {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.artists {
    width: 100px;
}
