
#search_results_table {
    width: 100%;
    border-collapse: collapse;
    font: 11px Tahoma;
}

#search_results_body tr {
    width: 500px;
}

#search_results_body tr.even {
    background-color: #666666;
}

#search_results_body tr.odd {
    background-color: #444444;
}

#search_results_body td {
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px;
}

.track_name div {
    width: 300px;
}

.track_genres div {
    width: 100px;
}

.track_artists div {
    width: 100px;
}

.album_name div {
    width: 100px;
}

td.handle {
    width: 8px;
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
}